#errorPageTitle {
	font-size: xx-large;
	text-align: center;
	color: red;
	margin-top: 200px;
}


.border1 {
	border: 2px solid black;
	border-bottom: 0px;
	padding: 10px;
}
.border2 {
	border: 2px solid black;
	padding: 1px;
}

#titleText {
	font-size: 40px;
	font-weight: bold;
	color: #000080;
}

#titleLocale {
	height: 100%;
	text-align: right;
	float: right;
	margin-top: 30px;
}

#footerText {
	font-size: 10px;
	text-align: center;
}



#NLauthors {
	width: 150px;
	height: 26px;
}
#NLtags {
	width: 150px;
	height: 26px;
}
.butt {
	height: 26px;
}


#NLsearchBar div form{
	display: inline;
}
#NLsearchBar div{
	text-align: center
}




#NLnewsInfo{
	margin-bottom: 50px;
}
#NLnewsTitle{
	font-weight: bold;
}
#NLnewsDetail {
	float: left;
}
#NLnewsDate {
	text-align:right;
}
#NLnewsSText {
	padding-top: 10px;
}
#NLnewsTags {
	color: #A0A0A0;
}
#NLnewsInfoFooter {
	text-align: right;
}

#NLnewsCommentsCount {
	color: red;
}
#NLpageCont {
	text-align: center;
}
#NLpages {
	display: inline;
}

#divMain {
	min-height: 400px;
}




#NCnewsTitle{
	font-weight: bold;
	max-width: 50%;
}

#NCnewsDetail {
	float: left;
	padding: 0px 80px 0px 40px;
}

#NCnewsDate {
	text-align:right;
}

#NCprevious {
	float: left;
}

#NCnext {
	text-align: right;
}

#NCback {
	padding-bottom: 10px;
}

#NCfullText {
	padding: 10px 80px 10px 40px;
}

#NCcomments {
	padding-left: 50px;
	max-width: 50%;
}

#NCcommentDate{
	padding-left: 10px;
	padding-top: 10px;
	text-decoration: underline;
}

#NCcommentText{
	background-color: #CCCCCC;
}

#NCaddComment {
	padding-top: 10px;
	padding-left: 50px;
	width: 50%;
}

#NCnewCommentText textarea{
	width: 99%;
	height: 50px;
}

#NCpostCommentButton {
	padding-top: 5px;
	text-align: right;
}

#NCerrorMessage {
	color: red;
}

.NCtagFont {
	color: green;
}
